{% load static %}


<style>
    .currency-input {
        position: relative;
        display: inline-block;
        width: 100%;
       
    }

    .currency-input span {
        position: absolute;
        left: 12px;
        top: 55%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #555;
        font-weight: bold;
        pointer-events: none;
    }

    .currency-input input {
        width: 100%;
        padding-left: 50px;
        padding-right: 10px;
        height: 40px;
        font-size: 18px; 
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>

<div id="expertise-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeExpertiseModal()">&times;</span>
        <h3>Edit Subject Ratings</h3>

        <form id="expertise-form" method="POST">
            {% csrf_token %}
            <div id="subject-fields">
                {% for subject in subjects %}
                <div class="subject-item">
                    <label>{{ subject.subject.name }}</label>
                    <div class="currency-input">
                        <span>PHP</span>
                        <input type="number" name="price_{{ subject.id }}" 
                               value="{{ subject.price_per_hour|floatformat:2 }}" 
                               step="0.01" min="0" required>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="save-button">Save Changes</button>
        </form>
    </div>
</div>



<script>
    var updateSubjectPricesUrl = "{% url 'update_subject_prices' %}"; 
    var csrfToken = "{{ csrf_token }}"; 
</script>
<script src="{% static 'js/edit_expertise.js' %}"></script>