{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutoria - Congratulations-P</title>
  <link rel="stylesheet" href="{% static 'css/congrats.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/owl.png' %}">
</head>
<body>

  {% include 'users/header2.html' %}

  <div class="page-wrapper">
    <div class="congrats-container">
        <img src="{% static 'images/congrats.png' %}" alt="Congratulations" class="congrats-image">
        <p class="congrats-message">
            Your password has been successfully reset!<br>
            You can now log in with your new password.
        </p>
        
        <button class="okay-btn" onclick="redirectToDashboard()">Okay</button>
    </div>
  </div>

  <script>
    function redirectToDashboard() {
        window.location.href = "{% url 'index' %}";
    }
  </script>

</body>
</html>
